{{/* layouts/partials/breadcrumbs/blog.html */}}
<ul class="list-inline"
    itemscope itemtype="https://schema.org/BreadcrumbList">

  {{/* Home */}}
  <li class="breadcrumbs"
      itemprop="itemListElement"
      itemscope itemtype="https://schema.org/ListItem">
    <a href="{{ absURL "/" }}"
       class="text-white"
       itemprop="item"
       itemscope
       itemtype="https://schema.org/WebPage"
       itemid="{{ absURL "/" }}">
      <span itemprop="name">Home</span>
    </a>
    <meta itemprop="position" content="1" />
  </li>

  <li class="breadcrumbs"><span class="text-white">/</span></li>

  {{/* Current page */}}
  <li class="breadcrumbs text-white-50"
      itemprop="itemListElement"
      itemscope itemtype="https://schema.org/ListItem">
    <span itemprop="item"
          itemscope
          itemtype="https://schema.org/WebPage"
          itemid="{{ .Permalink }}">
      <span itemprop="name">{{ default .Title .Params.name }}</span>
    </span>
    <meta itemprop="position" content="2" />
  </li>
</ul>
