<ul class="breadcrumbs pl-0 pb-2"
    itemscope itemtype="https://schema.org/BreadcrumbList">

  {{/* Home */}}
  <li class="breadcrumbs"
      itemprop="itemListElement"
      itemscope itemtype="https://schema.org/ListItem">
      <a href="{{ absURL "/" }}"
       class="text-black"
       itemprop="item"
       itemscope
       itemtype="https://schema.org/WebPage"
       itemid="{{ absURL "/" }}">
      <span itemprop="name">Home</span>
      </a>
    <meta itemprop="position" content="1" />
  </li>

  <li class="breadcrumbs"><span class="text-black">/</span></li>

  {{/* Current page */}}
  <li class="breadcrumbs text-black-breadcrumbs"
      itemprop="itemListElement"
      itemscope itemtype="https://schema.org/ListItem">
      <span itemprop="item"
          itemscope
          itemtype="https://schema.org/WebPage"
          itemid="{{ .Permalink }}">
      <span itemprop="name">{{ default .Title .Params.name }}</span>
      </span>
    <meta itemprop="position" content="2" />
  </li>
</ul>
