<section class="page-title">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <img 
            src="{{ site.Params.blogPageTitleBkgnd | relURL }}" 
            alt="{{ .Title }}" 
            class="img-fluid page-title-image" 
            width="1200" 
            height="800" 
            loading="lazy" 
            fetchPriority="high"
          />
          <h1 class="text-capitalize mb-4">{{ .Title }}</h1>
          {{ partial "breadcrumbs/index" . }}
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Unused code commented out -->
<!-- 
<section class="page-title bg-1" style="background-image: url('{{ site.Params.blogPageTitleBkgnd | relURL }}');">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <h1 class="text-capitalize mb-4">{{ .Title }}</h1>
          {{ partial "breadcrumbs/index" . }}
        </div>
      </div>
    </div>
  </div>
</section>
-->