
table {
  width: 100%;
  border-collapse: collapse;
  border: 3px solid #555;
}
th, td {
  padding: 7px;
  text-align: center;
  color: white;
  font-weight: normal;
  border: 1px solid #555;
}
th {
  background-color: #333;
  color: white;
}
.color-cell {
  color: white;
}
.color-cell.light {
  color: black;
}
.year-cell, .manufacturer-cell {
  background-color: #696969;
  color: white;
}
.year-cell {
  height: 60px;
}
