// Service section

.service-item{
	position: relative;
	padding-bottom: .4em
	}

	i{
		position: inherit;
		left: 0px;
		top:5px;
		font-size: 25px;
		opacity: .4;
	}
	img{
		// max-width: fit-content; //
		// object-fit: cover; //
		width: auto;
	}