.book-cal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  /*  border: 2px solid #88888; */
  color: #b40909;
  background-color: transparent;
  padding: 0.4rem .7rem;
  border-radius: 50px; 
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;

  &:hover {
    background-color: var(--dark-gray);
    color: $primary-color;
    border-color: $primary-color;
  }
}

.book-cal-btn .calendar-icon {
  fill: $primary-color; /* Use primary color for the calendar icon */
  margin-right: 0.5rem;
}

.book-cal-text {
  flex-grow: 1;
  font-weight: 700;
  text-align: center;
}

.breadcrumbs {
  display:inline-block;
}

.breadcrumbs:not(:last-child) {
  margin-right:.5rem;
}

.text-black-breadcrumbs {
  color: #575757;
}

.contact {
  &__form {
    max-width: 640px;
  }
}
.excerpt {
  &_preview {
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
    object-position: center top;
  }
}
.footer-image {
  width: auto;
  height: 100%; 
  max-height: 80px; 
  object-fit: contain;
  display: block; 
  margin-left: auto; /* Center the image horizontally */
  margin-right: auto; /* Center the image horizontally */
}

.py-4 {
  padding-bottom: 0.5rem !important;
  padding-top: 0.5rem !important;
}

.nav {
  &_logo {
    max-width: 180px;
    height: auto;
  }
}

.navbar-brand {
  margin-right: .1rem;
}

.navbar-toggler {
  font-size: 1.0em;
}

/* .page-title {
  background-color: rgb(70, 86, 149);
  background-size: 88px 88px;
  background-repeat: repeat;
  background-image: url(/images/svg/dots.svg);
  } */

.video {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  margin: 1.5rem 0;
  border-radius: 1rem;
  background-color: var(--bg);
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.07);
  iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    outline: none;
    border: none;
    transform: scale(1.01);
  }
}

.section {
  @media screen and (max-width: 667px) {
    padding: 50px 0;
  }
}

.booking {
  &:not(.active) > iframe {
    display: none;
  }
  &.active {
    > form {
      display: none;
    }
    > iframe {
      display: block;
    }
  }
}
/*
.map {
  overflow: hidden;
  iframe {
    width: 100%;
    transform: scale(1.01);
  }
}
*/
.map-responsive{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-responsive iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}

.gallery {
  ul,
  ol {
    list-style: none;
    padding: 0 !important;
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-flow: row;
  }
}

.content {
  ul,
  ol {
    padding-left: 1.2rem;
  }
  li {
    padding: 0.25rem 0;
    p {
      margin-bottom: 0.5rem;
    }
  }
}
// MK changed from .5 //
.slider::before {
  opacity: 0.05;
}
.list404 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  padding-left: 0%;
  padding-right: 0%;

  @media screen and (max-width: 667px) {
    grid-template-columns: repeat(1, 1fr);
  }

  img {
    margin-bottom: 0.2em;
    margin-right: 0.2em;
    max-width: 100%; /* per Copilot 5-2-25 */
    height: auto; /* per Copilot */
    display: block; /* per Copilot */
  }
}

.section404 {
  padding-top: 0%;
}
.input [type="radio"] #auto {
  accent-color: auto;
}
.responsive-image {
  max-width: 100%;
  height: auto;
  aspect-ratio: attr(width) / attr(height); /* Dynamically calculate aspect ratio */
  object-fit: cover; /* Optional: Ensures the image covers its container */
}
 .page-title {
  /* position: relative; */
  overflow: hidden;
  background-color: rgb(70, 86, 149);
  background-size: 88px 88px;
  background-repeat: repeat;
  background-image: url(/images/svg/dots.svg);
  padding: 60px 0;
  @extend .overly;
  .block {
    h1 {
      color: $light;
    }
    p {
      color: $light;
    }
  }
}

/*  .page-title-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Place behind content */