{{- define "main" }}
{{- partial "blocks/page-title" . }}
{{- $config := site.Params }}
{{- $enableSidebar := default false $config.blogPageSidebarOn }}
{{- $pages := partialCached "func/getPosts" . }}
{{- $paginator := .Paginate $pages -}}
{{- $size := $paginator.PageSize }}
{{- $scratch := newScratch }}

<section class="section blog-wrap bg-gray">
	<div class="container">
		<div class="row">
      <div class="{{ if $enableSidebar }}col-lg-8{{ end }}">
        <div class="row">
        {{ range $paginator.Pages }}
          {{ partial "blog/excerpt" . }}
        {{ end }}
        {{ if $enableSidebar }}
          {{ partial "blog/sidebar" . }}
        {{ end }}
        </div>
      </div>
		</div>

		<div class="row justify-content-center mt-5">
			<div class="col-lg-6 text-center">
				{{ partial "blog/pagination" . }}
			</div>
		</div>
	</div>
</section>
{{ end }}
