{{ define "main" }}

<!-- @@include('blocks/page-title.htm', { "page-name": "Our blog", "title": "Blog articles" }) -->
{{ partial "blocks/page-title" . }}

<section class="section blog-wrap bg-gray">
	<div class="container">
		<div class="row">
			{{ range where site.RegularPages "Section" .Section }}
			<div class="col-lg-6 col-md-6 mb-5">
				<div class="blog-item">
					{{ $image := "/images/blog/1.jpg" }}
					{{ with .Params.image }}
						{{ $image = . }}
					{{ end }}
					<img loading="lazy" src="{{ $image }}" alt="blog" class="img-fluid rounded">

					<div class="blog-item-content bg-white p-5">
						<div class="blog-item-meta bg-gray pt-2 pb-1 px-3">
							<span class="text-muted text-capitalize d-inline-block mr-3"><i class="ti-pencil-alt mr-2"></i>Creativity</span>
							<span class="text-muted text-capitalize d-inline-block mr-3"><i class="ti-comment mr-2"></i>5 Comments</span>
							<span class="text-black text-capitalize d-inline-block mr-3"><i class="ti-time mr-1"></i> {{ dateFormat "2nd January, 2006" .Date }}</span>
						</div>

						<h3 class="mt-3 mb-3"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
						<p class="mb-4">{{ truncate 200 .Summary }}</p>

						<a href="{{ .RelPermalink }}" class="btn btn-small btn-main btn-round-full">Learn More</a>
					</div>
				</div>
			</div>
			{{ end }}
		</div>

		<div class="row justify-content-center mt-5">
			<div class="col-lg-6 text-center">
				<nav class="navigation pagination d-inline-block">
					<div class="nav-links">
						<a class="prev page-numbers" href="#">Prev</a>
						<span aria-current="page" class="page-numbers current">1</span>
						<a class="page-numbers" href="#">2</a>
						<a class="next page-numbers" href="#">Next</a>
					</div>
				</nav>
			</div>
		</div>
	</div>
</section>

{{ end }}