{{ define "main" }}

<!-- @@include('blocks/page-title.htm', { "page-name": "News details", "title": "Blog Single" }) -->
{{ partial "blocks/page-title" . }}

<section class="section blog-wrap bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="row">
					<div class="col-lg-12 mb-5">
						<div class="single-blog-item">
							<img loading="lazy" src="/images/blog/2.jpg" alt="blog" class="img-fluid rounded">

							<div class="blog-item-content bg-white p-5">
								<div class="blog-item-meta bg-gray pt-2 pb-1 px-3">
									<!-- <span class="text-muted text-capitalize mr-3"><i class="ti-pencil-alt mr-2"></i>Creativity</span> -->
									{{ with .Params.categories }}
									<span class="text-muted text-capitalize mr-3"><i class="ti-pencil-alt mr-2"></i>{{ delimit . ", " }}</span>
									{{ end }}
									<span class="text-muted text-capitalize mr-3"><i class="ti-comment mr-2"></i>5 Comments</span>
									<span class="text-black text-capitalize mr-3"><i class="ti-time mr-1"></i> 28th January</span>
								</div>

								{{ .Content }}

								<div class="tag-option mt-5 d-block d-md-flex justify-content-between align-items-center">
									{{ with .Params.tags }}
									<ul class="list-inline">
										<li>Tags:</li>
											{{ range . }}
												<li class="list-inline-item">
													<a href="#" rel="tag">{{ . }}</a>
												</li>
											{{ end }}
									</ul>
									{{ end }}
                  {{ partial "blog/share" . }}
								</div>
							</div>
						</div>
					</div>

				{{ partial "blog/pager" . }}

				{{ if site.Params.comments.enable }}
					{{ partial "blog/comments" . }}
				{{ end }}
				</div>
			</div>
      {{ partial "blog/sidebar" . }}
		</div>
	</div>
</section>

{{ end }}