{{ define "main" }}
{{ partial "blocks/page-title" . }}
{{ $config := site.Params }}
<section class="section blog-wrap bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="row">
					<div class="col-lg-12 mb-5">
						<div class="single-blog-item">
<!--							 <img loading="lazy" src={{ default "/images/blog/2.jpg" .Params.image }} alt="blog" class="w-100 img-fluid rounded">
-->
							<div class="blog-item-content bg-white p-5 content">

								{{ .Content }}
								<div class="tag-option mt-5 d-block d-md-flex justify-content-between align-items-center">
                  {{ partial "blog/share" . }}
								</div>
							</div>
						</div>
					</div>

				{{ partial "blog/pager" . }}

				{{ if site.Params.comments.enable }}
					{{ partial "blog/comments" . }}
				{{ end }}
				</div>
			</div>
      {{ partial "blog/sidebar" . }}
		</div>
	</div>
</section>

{{ end }}