// Service section

.service-item{
	position: relative;
	padding-bottom: .4em
	}

/*.service-item.i{
		position: relative;
		left: 0px;
		top: 5px;
		font-size: 25px;
		opacity: .4;
	} */
.service.img{
		// max-width: fit-content; //
		// object-fit: cover; //
		width: auto;
	}