{{ define "main" }}
<section class="section pt-4 mt-2">
	<div class="container content">
    <h1 class="pb-0">{{ .Title }}</h1>
    {{ partial "breadcrumbs/index" . }}
    {{ if .Params.image }}
      {{ $imageResource := resources.Get .Params.image }}
      {{ if $imageResource }}
        {{ partial "image" (dict "src" $imageResource.RelPermalink "alt" .Title "class" "img-fluid" "fetchPriority" "high" "loading" "lazy" "height" $imageResource.Height "width" $imageResource.Width) }}
      {{ else }}
        <img src="/images/placeholder.webp" alt="Image not found" class="img-fluid" height="800" width="1200" />
      {{ end }}
    {{ else }}
      <img src="/images/placeholder.webp" alt="Image not found" class="img-fluid" height="800" width="1200" />
    {{ end }}
    {{ .Content }}
    {{ if .Params.faqs }}
      {{ partial "faqs" . }}
    {{ end }}
  </div>
</section>
{{ end }}