{{ define "main" }}
<section class="section pt-4 mt-2">
  <div class="container content">
    <h1 class="pb-0">{{ .Title }}</h1>
<!-- BREADCRUMBS OVERRIDE IS ACTIVE -->
    {{/* Plain-HTML breadcrumbs with no microdata */}}
    <ul class="breadcrumbs pl-0 pb-2">
      <li class="breadcrumbs">
        <a href="{{ absURL "/" }}" class="text-black">Home</a>
      </li>
      <li class="breadcrumbs"><span class="text-black">/</span></li>
      <li class="breadcrumbs text-black-breadcrumbs">
        {{ .Title }}
      </li>
    </ul>

    {{ with .Params.image }}
      {{ $img := resources.Get . }}
      {{ if $img }}
        {{ partial "template-image.html" (dict
          "Destination" $img.RelPermalink
          "alt"         $.Title
          "class"       "img-fluid"
          "eager"       true
        ) }}
      {{ else }}
        {{ warnf "Image not found: %s" . }}
      {{ end }}
    {{ end }}

    {{ .Content }}

    {{- with .Params.faqs }}{{ partial "faqs.html" $ }}{{ end -}}

    {{- $isService := eq .Section "pages" -}}
    {{- $explicitOn := eq .Params.show_service_links true -}}
    {{- $explicitOff := eq .Params.show_service_links false -}}
    {{- $blocked := in (slice "book-us" "contact" "privacy-policy" "payments" "payment-thank-you" "estimate-thanks" "awo-thanks") .File.BaseFileName -}}
    {{- if and (not $blocked) (or $explicitOn (and $isService (not $explicitOff))) -}}
      {{ partial "service-links.html" . }}
    {{- end -}}

  </div>
</section>
{{ end }}
