{{/* layouts/_default/single.html */}}
{{ define "main" }}
<section class="section pt-4 mt-2">
  <div class="container content">
    <h1 class="pb-0">{{ .Title }}</h1>

    {{/* Plain HTML breadcrumbs, no microdata */}}
    {{ partial "breadcrumbs/index" . }}

    {{/* Optional page image */}}
    {{ if .Params.image }}
      {{ $img := resources.Get .Params.image }}
      {{ if $img }}
        {{ partial "template-image.html" (dict
          "Destination" $img.RelPermalink
          "alt"         $.Title
          "class"       "img-fluid"
          "eager"       true
        ) }}
      {{ else }}
        {{ warnf "Image not found: %s" .Params.image }}
      {{ end }}
    {{ end }}

    {{ .Content }}

  </div>
</section>
{{ end }}
