{{ define "main" }}
  {{ partial "blocks/page-title" . }}

  {{- $config       := site.Params }}
  {{- $enableSidebar := default false $config.blogPageSidebarOn }}
  {{- $title        := lower .Title }}

  <section class="section blog-wrap">
    <div class="container">
      <div class="row">
        <div class="tags">
          {{ range .Data.Terms.ByCount }}
            {{ partial "blog/tag" (dict "ctx" . "key" $title ) }}
          {{ end }}
        </div>
      </div>

      {{/* --- POSTS LISTING STARTS HERE --- */}}
      <div class="row posts-list">
  {{ if gt (len .Pages) 0 }}
    {{ range .Pages }}
      {{ partial "blog/excerpt" . }}
    {{ end }}
  {{ else }}
    <p>No posts found in “{{ .Title }}.”</p>
  {{ end }}
</div>
      {{/* --- POSTS LISTING ENDS HERE --- */}}

    </div>
  </section>
{{ end }}
