{{ $nav := site.Data.nav }}
<ul class="navbar-nav ml-auto">
  {{ range $item := $nav }}
    {{ $hasSub := ge (len (default "" $item.submenu)) 1 }}
    <li class="nav-item{{ if $hasSub }} dropdown position-static{{ end }}">
      {{ if $hasSub }}
        <!-- Mobile: accordion-style collapse -->
        <a
          class="nav-link d-lg-none"
          data-toggle="collapse"
          href="#submenu-{{ $item.name | urlize }}"
          aria-expanded="false"
          aria-controls="submenu-{{ $item.name | urlize }}">
          {{ $item.name }}
        </a>
        <ul
          class="collapse list-unstyled d-lg-none"
          id="submenu-{{ $item.name | urlize }}"
          data-parent="#navbarToggle">
          {{ range $sub := $item.submenu }}
            <li><a class="nav-link pl-4" href="{{ $sub.url }}">{{ $sub.name }}</a></li>
          {{ end }}
        </ul>
        <!-- Desktop: hover dropdown -->
        <a
          class="nav-link dropdown-toggle d-none d-lg-inline-block"
          href="#"
          id="submenu-{{ $item.name | urlize }}-dropdown"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
          {{ $item.name }}
        </a>
        <ul
          class="dropdown-menu d-none d-lg-block"
          aria-labelledby="submenu-{{ $item.name | urlize }}-dropdown">
          {{ range $sub := $item.submenu }}
            <li><a class="dropdown-item" href="{{ $sub.url }}">{{ $sub.name }}</a></li>
          {{ end }}
        </ul>
      {{ else }}
        <a class="nav-link" href="{{ $item.url }}">{{ $item.name }}</a>
      {{ end }}
    </li>
  {{ end }}
</ul>
