{{ $config := site.Params }}
<header class="navigation">
  <!-- {{ partialCached "nav/top" . }} -->
  <div id="navbar">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <nav class="navbar fixed-top navbar-expand-lg px-0 py-4">
            {{ partial "nav/logo" . }}
            {{ partial "nav/menu-toggle" . }}
            <div class="collapse navbar-collapse text-center" id="navbarsExample09">
              {{ partial "nav/body" . }}
              {{ partial "nav/tail" . }}
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>