<a class="nav-cta" href='{{ relref . "pages/estimate-scheduler.md" }}'>
  <button
    type="button"
    class="nav-cta navbar-toggler book-cal-btn"
    aria-label="book appointment"
  >
    {{ $calendarIcon := resources.Get "images/svg/calendar-icon.svg" }}
    <img
      src="{{ $calendarIcon.Permalink }}"
      alt=""
      aria-label="Calendar icon"
      width="24"
      height="24"
      class="calendar-icon"
    />
    <span class="book-cal-text">Request an Estimate</span>
  </button>
</a>

<button
  class="navbar-toggler collapsed"
  type="button"
  data-toggle="collapse"
  data-target="#navbarToggle"
  aria-controls="navbarToggle"
  aria-expanded="false"
  aria-label="toggle-nav"
>
  {{ $image := resources.Get "images/svg/hamburger-menu.svg" }}
  <span>
    <img
      src="{{ $image.Permalink }}"
      alt=""
      aria-label="hamburger-menu"
      width="32"
      height="32"
    />
  </span>
</button>