<a href="/book-us/">
  <button
    type="button"
    class="navbar-toggler book-cal-btn"
    aria-label="book appointment"
  >
    {{ $calendarIcon := resources.Get "images/svg/calendar-icon.svg" }}
    <img
      src="{{ $calendarIcon.Permalink }}"
      aria-label="Calendar icon"
      width="24"
      height="24"
      class="calendar-icon"
    />
    <span class="book-cal-text">Book Us</span>
  </button>
</a>

<button
  class="navbar-toggler collapsed"
  type="button"
  data-toggle="collapse"
  data-target="#navbarToggle"
  aria-controls="navbarToggle"
  aria-expanded="false"
  aria-label="toggle-nav"
>
  {{ $image := resources.Get "images/svg/hamburger-menu.svg" }}
  <span>
    <img
      src="{{ $image.Permalink }}"
      aria-label="hamburger-menu"
      width="32"
      height="32"
    />
  </span>
</button>