<!-- ** Basic Page Needs ** -->
<meta charset="utf-8">
<title>{{ with .Title }}{{ . }} | {{ end  }}{{ site.Title }}</title>
<meta name="description" content="{{ .Description }}">

<!-- ** Mobile Specific Metas ** -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
{{ partial "opengraph.html" . }}

<!--Fonts-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<!-- bootstrap.min css -->
{{ $bootstrap := resources.Get "bootstrap/bootstrap.min.css" }}

<!-- Main Stylesheet -->
{{- $options := (dict "targetPath" "css/styles.css" "outputStyle" "compressed" "enableSourceMap" "true") -}}
{{- $main := resources.Get "scss/main.scss" | resources.ExecuteAsTemplate "scss/main.scss" . | css.Sass $options }}

{{ $styles := resources.Concat "styles.css" (slice $bootstrap $main) | postCSS | minify | fingerprint "sha512" }}

<!--<link rel="stylesheet" media="print" href="{{ $styles.Permalink }}" onload="this.media='all';this.integrity='{{ $styles.Data.Integrity }}';" async>-->
<!--<noscript><link rel="stylesheet" href="{{ $styles.Permalink }}"></noscript>-->
<style>{{ $styles.Content | safeCSS }}</style>

<!--Favicon-->
{{- $iconsPath := "favicons/" }}
<link rel="apple-touch-icon" sizes="180x180" href='{{ absURL (printf "%sapple-touch-icon.png" $iconsPath) }}'>
<link rel="icon" href="/favicons/favicon.ico" type="image/x-icon">
<link rel="icon" type="image/png" sizes="32x32" href='{{ absURL (printf "%sfavicon-32x32.png" $iconsPath) }}'>
<link rel="icon" type="image/png" sizes="16x16" href='{{ absURL (printf "%sfavicon-16x16.png" $iconsPath) }}'>
<link rel="manifest" href='{{ absURL (printf "%ssite.webmanifest" $iconsPath) }}'>
<link rel="mask-icon" href='{{ absURL (printf "%ssafari-pinned-tab.svg" $iconsPath) }}'  color="#004750">
<link rel="shortcut icon" href='{{ absURL (printf "%sfavicon.ico" $iconsPath) }}'>
<meta name="msapplication-config" content='{{ absURL (printf "%sbrowserconfig.xml" $iconsPath) }}'>
