{{/* Check for required arguments */}}
{{ if not .src }} {{ errorf "Image Optimization: the partial 'image' requires a 'src' argument." }} {{ end }}

{{/* Get resource from assets folder */}}
{{ $resource := resources.Get .src }}
{{ if $resource }}
  {{/* Check if the file is already a WebP */}}
  {{ if eq $resource.MediaType.SubType "webp" }}
    <img
      src="{{ $resource.Permalink }}"
      {{ with .class }} class="{{ . }}" {{ end }}
      alt="{{ .alt | default (replaceRE "^.*/([^/]+)\\.[^.]+$" "$1" .src) }}"
    />
  {{ else }}
    {{/* Generate WebP version */}}
    {{ $webp := $resource.Resize "1200x webp q75