<!-- ld:knowledge START -->
<script type="application/ld+json" data-partial="knowledge-panel-ld">
  {{- $node := dict
        "@context" "https://schema.org"
        "@graph" (slice (dict
          "@type"  "Service"
          "@id"    $svcID
          "offers" $offer
        ))
  -}}

  {{- if $areas -}}
    {{- $node = merge $node (dict
          "@graph" (slice (merge (index $node "@graph" 0)
                                  (dict "areaServed" $areas))))
    -}}
  {{- end -}}

  {{- if $items -}}
    {{- $node = merge $node (dict
          "@graph" (slice (merge (index $node "@graph" 0)
                                  (dict "hasOfferCatalog" (dict
                                        "@type"          "OfferCatalog"
                                        "name"           (printf "%s — Includes" .Title)
                                        "itemListElement" $items))))
        )
    -}}
  {{- end -}}

  {{ $node | jsonify | safeHTML }}
</script>
<!-- ld:knowledge END -->
{{- end -}}
