{{/* page-ld.html – WebPage schema for non-blog pages when schema_type is set */}}

{{/* Skip blog posts - check both .Section AND .File.Dir to catch posts with custom slugs */}}
{{- $isBlog := or (eq .Section "blog") (and .File (strings.HasPrefix .File.Dir "blog")) -}}

{{- if not $isBlog -}}
  {{- if .Params.schema_type -}}
    <script type="application/ld+json" data-partial="page-ld">
    {
      "@context": "https://schema.org",
      "@type": "{{ .Params.schema_type }}",
      "@id": "{{ .Permalink }}#webpage",
      "url": "{{ .Permalink }}",
      "name": "{{ .Title }}",
      "description": "{{ .Description | default .Summary }}",
      "inLanguage": "{{ .Lang }}",
      "isPartOf": {
        "@type": "WebSite",
        "@id": "{{ site.BaseURL }}#website",
        "url": "{{ site.BaseURL }}",
        "name": "{{ site.Title }}"
      }
      {{- if .Params.image -}}
      ,
      "primaryImageOfPage": {
        "@type": "ImageObject",
        "url": "{{ absURL .Params.image }}"
      }
      {{- end -}}
    }
    </script>
  {{- end -}}
{{- end -}}
