{{/* layouts/partials/schema-breadcrumb-ld.html */}}
{{- $crumbs := slice -}}
{{- $pos := 1 -}}

{{- $crumbs = $crumbs | append (dict
  "@type"    "ListItem"
  "position" $pos
  "name"     site.Title
  "item"     site.BaseURL
) -}}
{{- $pos = add $pos 1 -}}

{{- range .Ancestors.Reverse }}
  {{- $crumbs = $crumbs | append (dict
    "@type"    "ListItem"
    "position" $pos
    "name"     .Title
    "item"     .Permalink
  ) -}}
  {{- $pos = add $pos 1 -}}
{{- end -}}

{{- $crumbs = $crumbs | append (dict
  "@type"    "ListItem"
  "position" $pos
  "name"     .Title
  "item"     .Permalink
) -}}

{{- if gt (len $crumbs) 0 -}}
  {{- $payload := dict
      "@context"        "https://schema.org"
      "@type"           "BreadcrumbList"
      "itemListElement" $crumbs
    -}}
  {{- $json := $payload | jsonify -}}
<script type="application/ld+json" data-partial="schema-breadcrumb-ld">
  {{- $json | safeHTML }}
</script>
{{- end -}}
