{{/* Check for required arguments */}}
{{ $src := .Destination | default .src }}
{{ if not $src }}
  {{ errorf "Image Optimization: the partial requires either 'src' or 'Destination'." }}
{{ end }}

{{ $eager := .eager | default false }}
{{ $alt := .alt | default (replaceRE "^.*/([^/]+)\\.[^.]+$" "$1" $src) }}

{{ $resource := resources.Get $src }}
{{ if not $resource }}
  {{ errorf "Image not found: %s" $src }}
{{ end }}

{{ $width := $resource.Width | int }}
{{ $height := $resource.Height | int }}

{{ $webp := $resource.Resize "1200x webp q75" }}
{{ $avif := $resource.Resize "1200x avif q50" }}

{{ $srcset := printf "%s 1280w, %s 960w, %s 640w, %s 320w" ($webp.Resize "1280x").Permalink ($webp.Resize "960x").Permalink ($webp.Resize "640x").Permalink ($webp.Resize "320x").Permalink }}

<picture>
  <source srcset="{{ $avif.Permalink }}" type="image/avif">
  <source srcset="{{ $webp.Permalink }}" type="image/webp">
  <img
    src="{{ $webp.Permalink }}"
    srcset="{{ $srcset }}"
    sizes="(min-width: 1400px) 1280px, (min-width: 1024px) 960px, (min-width: 768px) 640px, 100vw"
    {{ with .class }} class="{{ . }}" {{ end }}
    fetchpriority="{{ if $eager }}high{{ else }}auto{{ end }}"
    {{ if not $eager }} loading="lazy" {{ end }}
    alt="{{ $alt }}"
    width="{{ $width }}"
    height="{{ $height }}"
  />
</picture>
