{{ define "main" }}
<section class="section404 
section intro">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="section-title pt-5 text-center">
          <h1>Uh-oh, 404</h1>
          <p>That page is missing. Head back <a href="/">home</a> or take a look below.</p>
        </div>
        <ul class="list404">
          <!--no go before .Params>> .Permalink }}  -->
          {{ range where site.RegularPages "Section" "!=" "pages" }}
            {{- $image := default "/images/blog/bt-3.jpg" .Params.image }}
            <li>
            <a href="{{ .Permalink }}"><img loading="lazy" src="{{ $image }}" alt="404 blog image"><br>{{ .Title }}</a>
            </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</section>
{{ end }}
