<div class="col-lg-12 mb-5">
  <div class="posts-nav bg-white p-5 d-lg-flex d-md-flex justify-content-between ">
    {{ with .PrevInSection }}
    <a class="post-prev align-items-center" href="{{ .Permalink }}">
      <div class="posts-prev-item mb-4 mb-lg-0">
        <span class="nav-posts-desc text-color">- Previous Post</span>
        <h6 class="nav-posts-title mt-1">{{ .Title }}</h6>
      </div>
    </a>
    {{ end }}
    <div class="border"></div>
    {{ with .NextInSection }}
    <a class="posts-next" href="{{ .Permalink }}">
      <div class="posts-next-item pt-4 pt-lg-0">
        <span class="nav-posts-desc text-lg-right text-md-right text-color d-block">- Next Post</span>
        <h6 class="nav-posts-title mt-1">{{ .Title }}</h6>
      </div>
    </a>
    {{ end }}
  </div>
</div>