{{- $pager := .Paginator }}
{{- $pages := $pager.TotalPages }}
{{- if gt $pages 1 }}
<nav class="navigation pagination d-inline-block">
  <div class="nav-links">
    {{- with $pager.Prev }}
    <a class="prev page-numbers" href="{{ .URL }}">Prev</a>
    <!-- <a class="page-numbers" href="#">{{ .PageNumber }}</a> -->
    {{ else }}
    <span class="next page-numbers">Prev</span>
    {{ end }}
    <span aria-current="page" class="page-numbers current">{{ $pager.PageNumber }} / {{ $pages }}</span>
    {{- with $pager.Next -}}
    <!-- <a class="page-numbers" href="#">{{ .PageNumber }}</a> -->
    <a class="next page-numbers" href="{{ .URL }}">Next</a>
    {{ else }}
    <span class="next page-numbers">Next</span>
    {{ end }}
  </div>
</nav>
{{- end }}