<div class="col-lg-4 mt-5 mt-lg-0">
  <div class="sidebar-wrap">
    <div class="sidebar-widget search card p-4 mb-3 border-0">
      <input type="text" class="form-control" placeholder="search">
      <a href="#" class="btn btn-mian btn-small d-block mt-2">search</a>
    </div>

    <div class="sidebar-widget card border-0 mb-3">
      <img loading="lazy" src="/images/blog/blog-author.jpg" alt="blog-author" class="img-fluid">
      <div class="card-body p-4 text-center">
        <h5 class="mb-0 mt-4">Arther Conal</h5>
        <p>Digital Marketer</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, dolore.</p>

        <ul class="list-inline author-socials">
          <li class="list-inline-item mr-3">
            <a href="#"><i class="fab fa-facebook-f text-muted"></i></a>
          </li>
          <li class="list-inline-item mr-3">
            <a href="#"><i class="fab fa-twitter text-muted"></i></a>
          </li>
          <li class="list-inline-item mr-3">
            <a href="#"><i class="fab fa-linkedin-in text-muted"></i></a>
          </li>
          <li class="list-inline-item mr-3">
            <a href="#"><i class="fab fa-pinterest text-muted"></i></a>
          </li>
          <li class="list-inline-item mr-3">
            <a href="#"><i class="fab fa-behance text-muted"></i></a>
          </li>
        </ul>
      </div>
    </div>

    {{ partial "blog/latest" . }}
    {{ partial "blog/tags" . }}
  </div>
</div>