<!-- Section About Start -->
{{- $about := .Params.about }}
{{ if and $about $about.show }}
<section class="section about position-relative">
	<div class="bg-about"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-6 offset-lg-6 offset-md-0">
				<div class="about-item ">
					<span class="h6 text-color">{{ $about.headline }}</span>
					<h2 class="mt-3 mb-4 position-relative content-title">{{ $about.title }}</h2>
					<div class="about-content">
						<h4 class="mb-3 position-relative">{{ $about.subtitle }}</h4>
						<p class="mb-5">{{ $about.description }}</p>
            {{ with $about.cta }}
						<a href="{{ .url }}" class="btn btn-main btn-round-full">{{ .label }}</a>
            {{ end }}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Section About End -->
{{ end }}