<section class="section latest-blog bg-2">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7 text-center">
				<div class="section-title">
					<span class="h6 text-color">The Nitty Gritty of Painting</span>
					<h2 class="mt-3 content-title text-white">Popular Articles</h2>
				</div>
			</div>
		</div>

		<div class="row justify-content-center">
			{{ $posts := partialCached "func/getPosts" . }}
			{{ range $i,$_ := first 3 $posts }}
			<div class="col-lg-4 col-md-6 mb-5">
				<div class="card bg-transparent border-0">
				<!--<img loading="lazy" src={{ default "/images/blog/hand-sprayer.avif" .Params.image }} alt="blog articles" class="img-fluid rounded excerpt_preview"></a> -->
					<a href=""<img loading="lazy" src="{{ default "/images/blog/hand-sprayer.avif" .Params.image }}" alt="blog articles"></a>
					<div class="card-body mt-2">
						<!-- <div class="blog-item-meta">
							<a href="#" class="text-white-50">Design<span class="ml-2 mr-2">/</span></a>
							<a href="#" class="text-white-50">Ui/Ux</a>
						</div> -->

						<h3 class="mt-3 mb-5 lh-36"><a href="{{ .RelPermalink }}" class="text-white ">{{ .Title }}</a></h3>

						<a href="{{ .RelPermalink }}" class="btn btn-small btn-solid-border btn-round-full text-white">Learn More</a>
					</div>
				</div>
			</div>
			{{ end }}
		</div>
	</div>
</section>