
{{ $cta := .Params.cta }}
{{ $bg := default "/images/bg/bgcanadalake.webp" $cta.image }}
{{ if and $cta $cta.show }}
<!-- Section Cta Start -->
<section class="section cta" style="--bg: url({{ $bg }})">
	<div class="container">
		<div class="row">
			<div class="col-xl-5 col-lg-6">
				<div class="cta-item  bg-white p-5 rounded">
					<span class="h6 text-color">{{ $cta.headline }}</span>
					<h2 class="mt-2 mb-4">{{ $cta.title }}</h2>
					<p class="lead mb-4">{{ $cta.description }}<br>
					Give us a call.</p>
					<h3><a href="{{ default site.Params.phone $cta.phone }}" class="mr-3 text-color">{{ default site.Params.phone $cta.phone }}</a></h3>
				</div>
			</div>
		</div>
	</div>
</section>
<!--  Section Cta End-->
{{ end }}