<!-- no title include -->
<!-- Slider Start -->
{{ $hero := .Params.hero }}
{{ $bg := default "/images/january.webp" $hero.image }}
<section class="slider position-relative">
  {{ partial "image" (dict "src" $bg "class" "position-absolute inset-0 object-fit-cover") }}
	<div class="container">
		<div class="row">
			<div class="col-lg-9 col-md-10">
				<div class="block">
					<span class="d-block mb-3 text-white text-capitalize">{{ $hero.headline }}</span>
					<h1 class="animated fadeInUp mb-5">{{ safeHTML $hero.title }}</h1>
			{{ with $hero.button }}
					<a href="{{ .url }}"  class="btn btn-main btn-round-full btn-outline" aria-label="">
            {{ .label }}
            {{ $imageAngleRight := resources.Get "images/svg/angle-right-solid.svg" }}
            <span class="btn-icon flex aling-items-center ml-2 svg-h-8 mr-2"> {{ $imageAngleRight.Content | safeHTML }} </span>
          </a>
					{{ end }}
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Section Intro Start -->
