{{- $intro := .Params.intro }}
{{ if and $intro $intro.show }}
<section class="section intro">
	<div class="container">
		<div class="row ">
			<div class="col-lg-8">
				<div class="section-title">
					<span class="h6 text-color ">{{ $intro.headline }}</span>
					<h2 class="mt-3 content-title">{{ $intro.title }}
					</h2>
				</div>
			</div>
		</div>
    {{ if and $intro.showValues $intro.values }}
		<div class="row justify-content-center">
      {{ range $intro.values }}
			<div class="col-lg-4 col-md-4 col-12">
				<div class="intro-item mb-5 mb-lg-0">
					<i <a href="{{ .link }}" class="ti-{{ .icon }} color-one">Fake Title</a> ></i>
					<h4  <a href="{{ .link }}"class="mt-4 mb-3">{{ .title }}>Fake Title</a> </h4>
					<p>{{ .summary }}</p>
				</div>
			</div>
      {{ end }}
		</div>
    {{ end }}
	</div>
</section>
<!-- Section Intro END -->
{{ end }}