{{ if not site.Config.Privacy.GoogleAnalytics.Disable }}
  {{ $gaID := site.Config.Services.GoogleAnalytics.ID }}
  {{ $respectDNT := site.Config.Privacy.GoogleAnalytics.RespectDoNotTrack }}
  {{- with $gaID }}
    <script defer src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
    <script>
      var doNotTrack = false;
      if ({{ printf "%t" $respectDNT }}) {
        var dnt = (navigator.doNotTrack || window.doNotTrack || navigator.msDoNotTrack);
        var doNotTrack = (dnt == "1" || dnt == "yes");
      }
      if (!doNotTrack) {
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ . }}');
      }
    </script>
  {{- end }}
{{- end }}
