{{- $formURL := default "https://crestwoodpainting.youcanbook.me/" (.Get 0) }}
{{- $includeWildcardField := false }}
{{- $regretsURL := "/regrets/" }}
{{- if in $formURL "calls" }}
  {{- $regretsURL = "/call-center-regrets/" }}
{{- end }}
{{- if in $formURL "wild" }}
  {{- $includeWildcardField = true }}
{{- end }}
<div class="booking" data-regrets="{{- $regretsURL }}">
  <form method="post" action="/book-us/" id="bookform">
    <input name="zip" required="" inputmode="numeric" type="text" pattern="^[0-9]{5}([- /]?[0-9]{4})?$" style="width: 240px" maxlength="10" size="15" placeholder="Let's start with your Zip code" autofocus="" class="form-control">
    <br>
    <p>
      <b>What Type of Work?</b><br>
      <input type="radio" id="jobint" name="jobtype" value="interior" required="">
      <label for="jobint">Interior</label><br>
      <input type="radio" id="jobcabs" name="jobtype" value="cabinets">
      <label for="jobcabs">Cabinets</label><br>
      <input type="radio" id="jobx" name="jobtype" value="exterior">
      <label for="jobx">Exterior</label><br>
      <input type="radio" id="jobcomm" name="jobtype" value="commercial">
      <label for="jobcomm">Commercial / Office</label>
      {{ if $includeWildcardField }}
      <input type="radio" id="jobcomm" name="jobtype" value="wildcard">
		  <label for="other">Wildcard</label>
      {{ end }}
      <br>
      <input type="submit" name="submit" class="btn btn-main" value="CHECK SERVICE AREA">
    </p>
  </form>
  <iframe style="width: 100%; height: 1000px; border: 0px; background-color: transparent;" src="{{- $formURL }}?noframe=true&skipHeaderFooter=true" width="300" height="150" frameborder="0">
    <span data-mce-type="bookmark" style="display: inline-block; width: 0px; overflow: hidden; line-height: 0;" class="mce_SELRES_start">﻿</span>
  </iframe>
</div>
<br>