{{ $sidebar := .Get 0 }}		
<section class="contact-form-wrap">
	<form id="contact-main" netlify class="contact__form py-3 mb-2" method="post" action="index.html">
		<input type="hidden" name="contact-main" value="contact-main" /> 
		<div class="form-group">
			<input name="name" type="text" class="form-control" placeholder="First and Last, please" autocomplete="off" required>
		</div>
		<div class="form-group">
			<input name="email" type="email" class="form-control" placeholder="Your Email" autocomplete="off" required>
		</div>
		<div class="form-group-2 mb-4">
			<textarea name="message" class="form-control" rows="4" placeholder="Tell Us" autocomplete="off" required></textarea>
		</div>
		<button class="btn btn-main" name="submit" type="submit">Send Message</button>
	</form>
</section>
